Package: dev.zaycation.gaykeystm
Name: gayKeysTM
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: every key GAY! Copyright: zaycation.dev
Maintainer: zaycation.dev
Author: Cameren & Tr1Fecta & zaycation.dev
Section: Tweaks
